.header {
    padding: 20px 0;

}

.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__site-logo {
    width: 180px;

}

.nav,
.nav__list,
.nav__block {
    display: flex;
    align-items: center;
    column-gap: 25px;

}

.nav__list {
    column-gap: 30px;

}

.nav__block {
    column-gap: 25px;

}

.nav__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;

    &:hover {
        font-weight: 600;
    }


}

.nav__btn {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    border: 1px solid#02897A;
    border-radius: 4px;
    padding: 10px 25px;
    transition: all 0.4s ease;

    &:hover {
        background: #02897A;
        color: #FFFFFF;
        transition: all 0.4s ease;
    }

}

.nav__btn-two {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 25px;
    transition: all 0.4s ease;
    background: #02897A;
    border: 1px solid#02897A;
    border-radius: 4px;
    color: #FFFFFF;

    &:hover {
        background: #FFFFFF;
        color: #173A56;
        transition: all 0.4s ease;
    }

}

.nav__light {
    width: 32px;
    height: 32px;
}