.volidation__body {
    padding-top: 150px;
}


.volidation__title {
    font-style: normal;
    font-weight: 600;
    width: 200px;
    font-size: 16px;
    line-height: 24px;
    color: #22343D;
}

.volidation__title-two {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    width: 230px;

    color: #22343D;
}

.title__volidation {
    font-style: normal;
    padding-top: 80px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    width: 160px;

    color: #22343D;
}

.text__volidation {
    font-style: normal;
    padding-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 485px;


    color: #22343D;
}

.volidation__text-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volidation__img {}

.title__volidationn {
    padding-top: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */


    color: #22343D;

}

.title__volidation1 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    padding-top: 30px;
    /* identical to box height, or 162% */


    color: #22343D;


}

.support__img {
    padding-top: 115px;
}

.support__tiitle {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 215px;
    color: #22343D;

}

.support__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #22343D;
}

.support__text {
    font-style: normal;
    padding-top: 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 485px;
    color: #22343D;
}

.support__logo {}

.support__text-two {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 365px;
    color: #22343D;
    align-items: center;
    display: flex;
    margin: 40px 30px 0 0;
    column-gap: 30px;

}

.support {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.support__block {
    padding-top: 150px;
}

.optimision {
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.optimision__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #22343D;
}

.optimision__titlle {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343D;
}

.optimision__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 485px;
    padding-top: 23px;
    color: #22343D;
}